h1 アプリだダウンロードページ
br
= link_to "Androidアプリ", "https://github.com/gazayas/nengo", :class => "btn btn-lg btn-default text-center"
br
br
= link_to "iPhoneアプリ", "#", :class => "btn btn-lg btn-default text-center"
