//$metroBlue: #363636;
$blue100: #80D8FF;
$blue200: #40C4FF;
$blue400: #00B0FF;
$blue700: #0091EA;
$metroBlue: #00B0FF;
$gray700: #424242;

$metroBlueDark: #03A9F4;
$metroBlueReallyDark: #0277BD;
$metroBlue200: #81D4FA;
$metroBlue100: #B3E5Fc;
$metroBlue50: #E1F5Fe;


$lightGrayNew: #F0F0F0;
$white: #FFFFFF;
$qWhite: #EEEEEE;

// colourlovers
$pewter: #A8A7A7;
$leLabbra: #CC527A;
$goodFriend: #E8175D;
$darkSteel: #474747;
$lessDarkSteel: #585858;
$darkestSteel: #252525;
$myHair: #363636;

// colorlovers2
$miaka: #FC354C;
$saumur: #FCF7C5;

// parrot
$lagoon: #02baf2;
$overboard: #009dcd;
$strawberry: #f84545;
$firstBlood: #cc0000;
$banana: #fad46b;
$doubloon: #f3bc65;

//parrot ACCENT;
$bruise :#a88cd5;
$sugarPlum: #9175bd;
$emeraldCove: #3eb5ac;
$landLubber: #28948c;
$horizon: #f58410;
$nassua: #e96300;

// parrot SHADE;
$blackFlag: #364347;
$gunpowder: #5e696d;
$piecesOfEight: #93a4aa;
$cutlass: #b2c6cd;
$coral: #d6e1e5;
$costalSurf: #e1eef3;

$midGray: #556270;

$seirekiHL: #00C2DB;
$nengoHL: #4CEBFF;
$nenreiHL: #00E2FF;
$etoHL: #26757F;
// icon colors
$iconBlue: #00c2db;
$iconBlueDark: #00bbd3;

