$metroBlue: #1fc2d9;
//$metroBlue: #19B5Fe;
//$metroBlueDark: #22A7F0;
$metroBlueDark: #00bbd3;
$loversGray: #515151;
$loversGrayLight: #717171;
$lightGray: #DDDDDD;
$reallyLightGray: #f8f8f8;
$white: #FFFFFF;
$qWhite: #EEEEEE;
$metroBlueLight: #84FFFF;
$orange: #E8970C;
