//$metroBlue: #1fc2d9;
$blue100: #80D8FF;
$blue200: #40C4FF;
$blue400: #00B0FF;
$blue700: #0091EA;
$metroBlue: #00B0FF;

$metroBlueDark: #03A9F4;
$metroBlueReallyDark: #0277BD;
$metroBlue200: #81D4FA;
$metroBlue100: #B3E5Fc;
$metroBlue50: #E1F5Fe;

//$metroBlue: #19B5Fe;
//$metroBlueDark: #22A7F0;
//$metroBlueDark: #00bbd3;
$lightGray: #DDDDDD;
$white: #FFFFFF;
$qWhite: #EEEEEE;
