$navbarHeight: 56px;

// body
body {
  background: $reallyLightGray;
}

.jumbotron {
  background: $metroBlue;
  color: $loversGray;
}

.main-container {
  background: $metroBlue;
  min-height: 600px;
  width: 100%;
  color: $loversGray;
}


