// body
body {
  background: $myHair;
}

.jumbotron {
  background: $myHair;
  color: $white;
}

.main-container {
  background: $myHair;
  min-height: 920px;
  color: $white;
  @include default-font-jp;
}

