// body
body {
  background: $lightGrayNew;
}

.jumbotron {
  background: $myHair;
  color: $white;
}

.main-container {
  min-height: 920px;
  color: $white;
  @include default-font-jp;
}

.alert {
  text-align: center;
  margin: 10px 2%;
}
