// Holidays table
.holidays-container-main {
  text-align: center;
}

table[data-role="holidays"] {
  width: 100%;
  margin: 25px auto 0px auto;
  font-size: 1.0em;
  background: $white;
  border: solid $lightGray 3px !important;
  th {
    font-size: 1.4em;
    padding: 12px;
    text-align: center;
    font-weight: 1000;
    border-bottom: solid $lightGray 5px !important;
  }
  td {
    padding: 12px;
    border: solid $lightGray 3px !important;
  }
}

