// Holidays table
.holidays-container-main {
  text-align: center;
  color: $myHair;
}

.holidays-heading {
  font-size: 2em;
  padding-top: 5vh;
  color: $midGray;

}

table[data-role="holidays"] {
  width: 90%;
  margin: 20px auto 0px auto;
  font-size: 1.3em;
  background: $white;
  border: solid $lightGrayNew 1px !important;
  th {
    font-size: 1.4em;
    color: $gray700;
    padding: 10px 1% 10px 1%;
    text-align: center;
    font-weight: 1000;
    border-bottom: solid $lightGrayNew 2px !important;
  }
  td {
    padding: 12px;
    border: solid $lightGrayNew 1px !important;
    color: $gray700;
  }
}

