// navbar
$navbarHeight: 50px;

nav.navbar.navbar-default {
  background: $myHair;
  margin-bottom: 0px;
  border-bottom: 3px solid $pewter;
}

a.brand-logo {
  font-size: 1.9em;
  font-weight: 500;
  float: left;
  padding-left: 0.5em;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  &:hover {
    color: $pewter !important;
  }
}

a.navbar-brand.brand-logo {
  color: $white;
  margin-top: ($navbarHeight - 50)/2;
}

.app-icon {
  float: left;
  padding: 5px 0 5px 0;
  height: $navbarHeight;
  margin-left: 16px;
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar-header .navbar-toggle {
  border: none !important;
  margin-top: ($navbarHeight - 50)/2 + 8;
  &:hover {
    background: $darkSteel !important;
  }
}

.navbar-collapse {
  border: none !important;
}

.navbar-collapse ul.nav.navbar-nav li a {
  font-size: 1.1em;
  line-height: $navbarHeight;
  font-weight: 600;
  text-align: center;
  color: $white;
  padding: 0 15% !important;

  &:hover {
    background: $darkSteel;
  }
}

.navbar-collapse.collapse.in ul.nav li a {
  
}

.nav-divider {
  width: 100%;
  height: 0px;
  background-color: $blue700;
}

@media (min-width: 768px) {
  .app-icon {
    margin-right: 10px;
    border: none !important;
  }
}
