// navbar
$navbarHeight: 6.5vh;

nav.navbar.navbar-default {
  background: $lightBlue;
  margin-bottom: 0px;
  border: none !important;
  color: $orange;
}

a.brand-logo {
  padding: 0 0 0 2vmax;
  font-size: 5vmax;
  font-weight: 500;
  float: left;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  &:hover {
    color: $pewter !important;
  }
}

a.navbar-brand.brand-logo {
  color: $orange;
  line-height: $navbarHeight;
}

.app-icon {
  float: left;
  padding: 5px 0 5px 0;
  height: $navbarHeight;
  margin-left: 16px;
}

.navbar-header .navbar-toggle {
  border: 1px solid $orange;
  margin-right: 2vmax !important;
  margin-top: ($navbarHeight / 4);
  &:hover {
    //background: $white !important;
  }
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: $orange;
}

.navbar-collapse {
  border: none !important;
}

.navbar-collapse ul.nav.navbar-nav li a {
  font-size: 1.4em;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  line-height: $navbarHeight;
  font-weight: 600;
  text-align: center;
  color: $orange;
  &:hover {
    //background: $white;
    color: $pewter;
  }
}

.navbar-collapse.collapse.in ul.nav li a {
}

.nav-divider {
  width: 100%;
  height: 0px;
  background-color: $blue700;
}

@media (min-width: 768px) {
  .app-icon {
    margin-right: 10px;
    border: none !important;
  }
}

@media (max-width: 768px) {
  a.navbar-brand.brand-logo, .app-icon, {
    height: 8.4vh;
    line-height: 8.4vh;
  }

  .navbar-header .navbar-toggle {
    line-height: 8.4vh;
  }

  .navbar-collapse ul.nav.navbar-nav li a {
    border-bottom: 1px solid #ECECEC;
  }

  /* switch to white navbar */
  nav.navbar.navbar-default {
    background: $white;
    margin-bottom: 0px;
    border: 1px solid #EEE;
  }
}
