// navbar
$navbarHeight: 56px;

nav.navbar.navbar-default {
  background: $metroBlue;
  margin-bottom: 0px;
  border-color: $metroBlue;
}

a.brand-logo {
  font-size: 2em;
  font-weight: 500;
  float: left;
  padding-left: 0.3em;
  &:hover {
    color: $metroBlue50 !important;
  }
}

a.navbar-brand.brand-logo {
  color: $white;
  margin-top: ($navbarHeight - 50)/2;
}

ul.nav a:hover {
}

.app-icon {
  float: left;
  padding: 5px 0 5px 0;
  height: $navbarHeight;
  margin-left: 16px;
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar-header .navbar-toggle {
  border-color: $metroBlue;
  margin-top: ($navbarHeight - 50)/2 + 8;
  &:hover {
    background: $metroBlueDark;
  }
}

.navbar-collapse {
  border: none;
}

.navbar-collapse ul.nav.navbar-nav li a {
  height: $navbarHeight;
  font-size: 1.1em;
  font-weight: 700;
  padding: (($navbarHeight - 50)/2 + 25) 30% auto 30%;
  text-align: center;
  color: $white;
  border-color: $metroBlue;
  &:hover {
    background: $metroBlueDark;
  }
}

.nav-divider {
  width: 100%;
  height: 0px;
  background-color: $blue700;
}

@media (min-width: 768px) {
  .app-icon {
    margin-right: 10px;
  }
}
