$block-height: 190px;
$block-height-main: 4*$block-height/5;
$block-height-hl: $block-height/5;

.nengo-top-container {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2em;
  color: $myHair;
}

.block-container {
  background-color: $white;
  color: $myHair;
  height: $block-height;
  margin: 15px 2%;

  .block-main {
    height: $block-height-main;
    background-color: $white;
    border-radius: 0 0 10px 10px !important;
    .block-main-left {
      background-color: $white;
      border-radius: 0 0 10px 10px !important;
    }
    .block-main-right {
      background-color: $white;
      border-radius: 0 0 10px 10px !important;
    }
  }

  .block-hl {
    height: $block-height-hl;
    background-color: $darkSteel;
    text-align: center;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
  }

}

.seireki-block-container, .nengo-block-container, .nenrei-block-container, .eto-block-container, .koki-block-container {
  @extend .block-container;
}

.seireki-block-hl, .nengo-block-hl, .nenrei-block-hl, .eto-block-hl, .koki-block-hl {
  @extend .block-hl;
}

.block-main-left {
  @extend .block-main;
  width: 40%;
  float: left;
  text-align: center;
}

.block-main-center, .block-main-right {
  @extend .block-main-left;
  width: 30%;
  h2 {
    font-size: 2em;
    margin-top: 36px;
  }
}

.block-hl  {
  border-bottom: 3px solid $iconBlue;
  p {
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 1%;
    line-height: $block-height-hl;
    color: $white;
    text-align: left;
  }
}

.seireki-edit-year {
  @extend .edit-seireki;
  height: 70px !important;
  margin-top: 31px !important;
  font-size: 2em !important;
  text-align: center !important;
}

.seireki-update-year, .nengo-edit-jidai, .nengo-update-jidai, .nengo-edit-year, .nengo-update-year, .nenrei-edit-year, .nenrei-update-year, .eto-year, .eto-info, .koki-edit-year, .koki-update-year {
  @extend .seireki-edit-year
}

.edit-seireki {
  width: 65%;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  font-size: 1.3em;
}

.edit-nengo, .edit-nenrei, .edit-koki {
  @extend .edit-seireki
}

.update-seireki, .update-nengo, .update-nenrei, .update-koki {
  @extend .edit-seireki;
}

@media (max-width: 768px) {
  .edit-seireki {
    width: 90% !important;
  }
}
