.nengo-main-container {
  text-align: center;
  color: $midGray;
}

.nengo-seireki, .nengo-jidai, .nengo-jidai-type {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-bottom: 12px;
}

.nengo-jidai-container, .nengo-seireki-container {
  border: 1px dashed $darkSteel;
  background: $white;
  padding: 3%;
  padding-bottom: 6%;
  margin: 15px auto;
  border-radius: 2px;
  max-width: 86%;
}
.nengo-seireki-label, .nengo-jidai-label {
  text-align: left !important;
  float: left;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 1.5em;
  padding: 3%;
}

.nengo-seireki-submit {
  margin-top: 0.6em;
}

.block-container {
  background-color: $white;
  color: $myHair;
  height: 128px;
  margin: 15px 0;

  .block-main {
    height: 96px;
    background-color: $white;
  }

  .block-hl {
    height: 32px;
    text-align: center;
    overflow: hidden;
  }

}

.seireki-block-container, .nengo-block-container, .nenrei-block-container, .eto-block-container {
  @extend .block-container;
}

.seireki-block-main, .nengo-block-main, .nenrei-block-main, .eto-block-main {
  @extend .block-main;
  h1 {
    line-height: 96px;
    color: $lessDarkSteel;;
    text-align: right;
    padding: 0 2%;
    font-weight: 900;
    font-size: 2.5em;
  }
}

.seireki-block-hl {
  @extend .block-hl;
  background-color: $greenHL;
  //background-color: $purpleHL;
}

.nengo-block-hl {
  @extend .block-hl;
  background-color: $blueHL;
  //background-color: $purpleHL;
}

.nenrei-block-hl {
  @extend .block-hl;
  background-color: $greenHL;
  //background-color: $purpleHL;
}

.eto-block-hl {
  @extend .block-hl;
  background-color: $blueHL;
  //background-color: $purpleHL;
}

.block-hl  {
  p {
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 1%;
    color: $white;
    text-align: left;
  }
}
