- if @edit_mode.present?
  input type="submit" class="btn btn-info" value="Update"
- else
  = link_to "Edit", { action: :edit, current_year_seireki: @current_year.year_seireki }, { class: "btn btn-primary" }
